# Sowing Success: How Machine Learning Helps Farmers Select the Best Crops

![Farmer in a field](../misc/farmer_in_a_field.jpg)

Measuring essential soil metrics such as nitrogen, phosphorous, potassium levels, and pH value is an important aspect of assessing soil condition. However, it can be an expensive and time-consuming process, which can cause farmers to prioritize which metrics to measure based on their budget constraints.

Farmers have various options when it comes to deciding which crop to plant each season. Their primary objective is to maximize the yield of their crops, taking into account different factors. One crucial factor that affects crop growth is the condition of the soil in the field, which can be assessed by measuring basic elements such as nitrogen and potassium levels. Each crop has an ideal soil condition that ensures optimal growth and maximum yield.

A farmer reached out to you as a machine learning expert for assistance in selecting the best crop for his field. They've provided you with a dataset called `soil_measures.csv`, which contains:

- `"N"`: Nitrogen content ratio in the soil
- `"P"`: Phosphorous content ratio in the soil
- `"K"`: Potassium content ratio in the soil
- `"pH"` value of the soil
- `"crop"`: categorical values that contain various crops (target variable).

Each row in this dataset represents various measures of the soil in a particular field. Based on these measurements, the crop specified in the `"crop"` column is the optimal choice for that field.  

In this project, you will build multi-class classification models to predict the type of `"crop"` and identify the single most importance feature for predictive performance.

In [49]:
# All required libraries are imported here for you.
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Load the dataset
crops = pd.read_csv("../data/soil_measures.csv")

# Write your code here

**1. Read the data into a pandas DataFrame and perform exploratory data analysis**

In [50]:
crops

        N   P   K        ph    crop
0      90  42  43  6.502985    rice
1      85  58  41  7.038096    rice
2      60  55  44  7.840207    rice
3      74  35  40  6.980401    rice
4      78  42  42  7.628473    rice
...   ...  ..  ..       ...     ...
2195  107  34  32  6.780064  coffee
2196   99  15  27  6.086922  coffee
2197  118  33  30  6.362608  coffee
2198  117  32  34  6.758793  coffee
2199  104  18  30  6.779833  coffee

[2200 rows x 5 columns]

Check the columns and its data types.

In [51]:
crops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       2200 non-null   int64
 1   P       2200 non-null   int64
 2   K       2200 non-null   int64
 3   ph      2200 non-null   float64
 4   crop    2200 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 86.1+ KB

Check for missing values.

In [52]:
crops.isnull().sum()

N       0
P       0
K       0
ph      0
crop    0
dtype: int64

Check the usual stats.

In [53]:
crops.describe()

                 N            P            K           ph
count  2200.000000  2200.000000  2200.000000  2200.000000
mean     50.551818    53.362727    48.149091     6.469480
std      36.917334    32.985883    50.647931     0.773938
min       0.000000     5.000000     5.000000     3.504752
25%      21.000000    28.000000    20.000000     5.971693
50%      37.000000    51.000000    32.000000     6.425045
75%      84.250000    68.000000    49.000000     6.923643
max     140.000000   145.000000   205.000000     9.935091

In [54]:
crops.head()

    N   P   K        ph  crop
0  90  42  43  6.502985  rice
1  85  58  41  7.038096  rice
2  60  55  44  7.840207  rice
3  74  35  40  6.980401  rice
4  78  42  42  7.628473  rice

Check the crop column for the crop types.

In [55]:
crops['crop'].value_counts()

crop
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [56]:
crops['crop'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

**2. Split the data**

In [57]:
x = crops.drop(columns=['crop'])
y = crops['crop']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

**3. Evaluate feature performance**

In [64]:
best_predictive_feature = {}
log_reg = LogisticRegression()        
for feature in [col for col in x_train.columns if col != 'ph']:
    feature_x_train = x_train[[feature]]
    y_pred = log_reg.fit(feature_x_train, y_train)
    y_pred = log_reg.predict(x_test[[feature]])
    f1 = metrics .f1_score(y_test, y_pred, average='weighted')
    best_predictive_feature[feature] = f1
    print(f"F1 score for {feature} is {f1:.2f}")

c:\Users\Juls\Desktop\dsml-projects\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Juls\Desktop\dsml-projects\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

F1 score for N is 0.09
F1 score for P is 0.15
F1 score for K is 0.24

c:\Users\Juls\Desktop\dsml-projects\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

`K` has the best F1 score among the features.

In [65]:
best_predictive_feature = {'K':best_predictive_feature['K']}
print(f"Best feature is K: {best_predictive_feature}")

Best feature is K: {'K': 0.23896974566001802}

Lets try to scale the features (not included in the activity)

In [60]:
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

each_feature = {}
for feature in [col for col in x_train.columns if col != 'ph']:
    scaler = StandardScaler()
    feature_x_train = scaler.fit_transform(x_train[[feature]])
    feature_x_test = scaler.transform(x_test[[feature]])
    
    log_reg = LogisticRegression(max_iter=1000)
    log_reg.fit(feature_x_train, y_train)
    y_pred = log_reg.predict(feature_x_test)

    f1 = metrics.f1_score(y_test, y_pred, average='weighted')
    each_feature[feature] = f1
    print(f"F1 score for {feature} is {f1:.2f}")

F1 score for N is 0.11
F1 score for P is 0.08
F1 score for K is 0.14